workflows/ai_agent_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.guardrailsInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        96
      ],
      "id": "c508f58b-b7e5-4b5b-a255-fe54877e82d8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up the rules of golf",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        640,
        320
      ],
      "id": "8c45ffe4-7093-407b-93fe-301e7f876b9f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "TjReM2PDjdTo9iqH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        320
      ],
      "id": "14b9524f-5a17-4835-85cd-66900bd1742a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yhmGGFmpn6otPGlG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "=text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        528
      ],
      "id": "a8710bf7-35bd-49dc-a30e-2d4de0a28770",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "yhmGGFmpn6otPGlG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        272,
        528
      ],
      "id": "6e662a0a-ab02-468d-8045-e4798e18d6bb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        304
      ],
      "id": "3353382f-22fb-4125-9087-1c0e60961291",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "TjReM2PDjdTo9iqH",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/12ClMyr7ZJmYPESNba3F5MP2T-m_dcO1r/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        304
      ],
      "id": "eda756ff-265e-49d3-9555-b299409905ab",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0UVbITAbONlQuVGK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.text }}",
        "guardrails": {}
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        240,
        112
      ],
      "id": "4a05eca2-ad48-4891-9091-dafdea763dad",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        112
      ],
      "id": "31158b04-fd1c-4db5-8909-615202e9e38d",
      "name": "Telegram Trigger",
      "webhookId": "aba2b127-48b0-45f8-8308-48b9ce0a2053",
      "credentials": {
        "telegramApi": {
          "id": "ICOQjFIOILrSCyEC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        96
      ],
      "id": "86114afe-9d94-49fc-ae8f-953576269b5d",
      "name": "Send a text message",
      "webhookId": "7b4203b4-f244-4bb9-aecb-c81d491eedd5",
      "credentials": {
        "telegramApi": {
          "id": "ICOQjFIOILrSCyEC",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d7b6f32e9854b5287f4f33d9f981086216f8d42adf6051ec6d669067f30ef1e0"
  }
}
