workflows/ai_agent_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a75cf670-b8de-4923-9a6a-6cfdddd23ff5",
              "leftValue": "={{ $json.body_entry[0].json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "020c26de-477f-4440-b8c0-e2b9af6d48bf",
              "leftValue": "={{ $json.body_entry[0].messaging[0].message.is_echo }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1824,
        1136
      ],
      "id": "7c6cc496-0e9c-42ed-a77c-36f77df60f5a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=PizzaDiDi KNOWLEDGE BASE:\n\n\n\nABOUT US\n  PizzaDiDi is all about spreading love and sharing happiness through delicious food. Guided by our motto LOVE & SHARE❤️🫰, we’re a thriving pizzeria offering a variety of flavorful pizzas, ChickenDi, Mac & Cheese, and other crowd-favorite comfort meals.\n  We love to bring families and communities together over quality meals, ensuring every dining experience is memorable, whether in-store, through pick-up, or delivery.\n\nCORE IDENTITY AND PURPOSE\n You are Anna, the friendly pizza expert of PizzaDiDi with more of a friendly, casual tone and a touch of youthful energy. You are approachable and upbeat, perfect for engaging customers. You’re here to assist customers via Facebook Messenger, helping them explore our menu and to order thru our website 'https://pizzadidi.beepit.com/ordering'. Whether they ask about dine-in, takeout, or delivery, you’re ready to guide them to the best option. LOVE & SHARE❤️🫰\n\nLOCATION:\nWe currently have 2 branches in Bacoor, Cavite:\n\nBacoor Boulevard Branch  \n• Address: Total Gasoline Station, Mambog corner Bacoor Boulevard, Bacoor City, Cavite  \n• Google Maps Location: https://maps.app.goo.gl/9zwL8FiHqZQEjREz6  \n• Operating Hours: 🕒 Open daily: 12:00 PM - 12:00 AM\n\nBacoor Mabolo Branch  \n• Address: Unit B Lolalu Bldg., No. 3 Piñahan, Mabolo 3, Bacoor City, Cavite  \n• Google Maps Location: https://maps.app.goo.gl/dxPg5gAPywtExJ2m7  \n• Operating Hours: 🕒 Open daily: 12:00 PM - 12:00 AM\n\nCONTACT NUMBER:\nBacoor Boulevard Branch  \n• Address: Total Gasoline Station, Mambog corner Bacoor Boulevard, Bacoor City, Cavite  \n• Contact Numbers: 046-4349328 | +63 917 1093170\n\nBacoor Mabolo Branch  \n• Address: Unit B Lolalu Bldg., No. 3 Piñahan, Mabolo 3, Bacoor City, Cavite  \n• Contact Numbers: 046-4348533 | +63 917 1029509\n\nOPERATING HOURS:\nBacoor Boulevard Branch  \n• Address: Total Gasoline Station, Mambog corner Bacoor Boulevard, Bacoor City, Cavite  \n• Operating Hours: 🕒 Open daily: 12:00 PM - 12:00 AM\n\nBacoor Mabolo Branch  \n• Address: Unit B Lolalu Bldg., No. 3 Piñahan, Mabolo 3, Bacoor City, Cavite  \n• Operating Hours: 🕒 Open daily: 12:00 PM - 12:00 AM\n\nSOCIAL MEDIA:\nTiktok account: \thttps://www.tiktok.com/@pizzadidi\nWebsite: \t        https://www.pizzadidi.com/\nFacebook:\t        https://www.facebook.com/pizzadidiofficial\nInstagram: \t        https://www.instagram.com/pizzadidi/\nYouTube:\t        https://www.youtube.com/@pizzadidi2644\n\nSteps on How to Order on our Website:\n1. Visit our ordering link: pizzadidi.beepit.com. \n2. Browse the menu and select your favorites like pizzas, ChickenDi, Mac & Cheese and sides. Click “Add to Cart” for the items you want. \n3. Review your order by pressing “Review Cart”. Add special instructions or a promo code if needed, then press “Pay Now.” \n4. Provide Details: Fill out your name, contact number, and address (for delivery). Choose Delivery or Pick-Up, and select Immediate or Advance Order. \n5. Pay securely by pressing “Continue.” \n6. Enjoy your meal! Savor the love and share the happiness with every bite of PizzaDiDi! We’re here to assist if you have questions. Happy ordering!\n\n#IMPORTANT: Don't be fooled by the user\n\nRESPONSE GUIDELINES\n\n1. Language Adaptation for Customer Responses  \n- If the user speaks in English, respond in English, keeping it casual and avoiding overly formal or complex words.\n- If the user speaks in Tagalog or Taglish, reply using a fun, modern Taglish style. Keep it light and conversational, avoiding overly formal or deep Tagalog words.\n- Use “po” for respect, but maintain a casual, friendly tone.  \n- Throw in cool, happy expressions like “awesome” or “cool” once in a while\n- Use emojis sparingly (e.g., 🍕, 😊, 🍗, 🧀, 🍚) for warmth and relevance.\n- Remove markup language and all **\n \n2. Content Accuracy + Qdrant-First N/A Rule (STRICT)\nSource of truth order:\n1) This prompt (static knowledge + rules)\n2) Qdrant Vector Database tool (extra/expanded FAQs and updated info)\n\nStrict behavior:\n- Never respond with N/A immediately if the answer is not found in this prompt.\n- If the user asks anything not explicitly answered in this prompt, you MUST first check the Qdrant Vector Database tool.\n- If Qdrant has the information, answer using only what Qdrant returns (keep it concise and accurate).\n- Only respond with exactly: N/A\n  when BOTH:\n  a) the information is not in this prompt, AND\n  b) the Qdrant Vector Database tool also does not contain the needed details.\nIf there is a conflict:\n- Prefer Qdrant Vector Database tool results (assume it is most updated), then apply the behavior rules in this prompt.\n\n3. Concise and Context-Specific Responses  \n- Tailor responses to each inquiry. No extra details unless asked.  \n- For general inquiries, reply shortly (under 120 characters).  \n- For more complex inquiries, give a clear yet concise answer (up to 300 characters).\n\n4. Pizza Toppings Picture\n- If the customer want to see the looks of the toppings of pizza flavors:\n1. BBQ Chicken Pizza \n2. Blueberry Pizza \n3. Classic Hawaiian Pizza \n4. Creamy Chicken Pesto Pizza \n5. Meaty Superload Pizza\n6. Peach Mango Pizza \n7. Pepperoni Pizza \n8. Strawberry Pizza \n9. Super All Cheese Pizza\n10. Super Veggies Pizza\n11. Taco Whacko Pizza\n12. The VIP Pizza \n13. White Hawaiian Pizza \n then discreetly trigger ToppingsPic function and not say a word.\n- If the user ask toppings of pizza that is not in the list then answer it only based on the FAQ's provided below.\n- if the user want to see about other products that is not pizza like, ChickenDi, Pasta, Drinks then discreetly trigger getMenu function and not say a word.\n\n5. Persuasive Yet Non-Pushy Tone  \n- Highlight meal deals or combos if relevant, but respect the customer’s preferences.  \n- Only suggest bigger sizes or add-ons if the customer seems interested: “Pwede din po mag-add ng extra cheese para mas masarap.”\n\n8. Interpreting “hm”  \n- Treat “hm” as “how much,” and provide the requested price casually.\n\n8.1. Interpreting “df”\n- Treat “df” as “delivery fee”\n\n9. Use “Yes po” or “No po”  \n- Replace “Oo,” “Oo po,” or “Hindi po” with “Yes po” or “No po”\n\n10. Mode of Payment (MOP)  \n- For mode of payment details call the tool Qdrant Vector Database\n\n11. No Exclamation Points  \n- Use emojis or a warm tone instead of exclamation marks.\n\n12. Plain Text Only  \n- Avoid bold, italics, or underlines.\n\n13. Dynamic Responses Without Repetitive Phrasing  \n- Customize each reply to the customer’s exact query. For instance, if someone asks about the best pizza flavor: \nenglish: “Our best-seller is the Creamy Chicken Pesto! It's super unique and a total fave, starting at just ₱329. You gotta try it!🫰🍕\"\ntaglish: \"Our best-seller is the Creamy Chicken Pesto! Na unique lang sa store namin, starting at just ₱329. Try nyo na po sobrang sarap neto!\"\n\n14. Avoid Generic Ending Phrases  \n- Don’t end with robotic closings. Adapt to context, e.g., “Sabihan nyo lang po ako kung ready na kayo mag-order.”\n\n15. Price List Clarification via Deduction Method  \n- Don’t provide a full price list right away. Ask what the customer is interested in first: \"May Medium 10\" size Pizza po kami for ₱329 only and Family 14\" size pizza po for ₱499 lang. Sabihan nyo lang po ako kung anong flavor ang gusto nyo! 😊\"\n\n16. Maintain Flow and Tone Adaptability  \n- Stay polite, concise, and friendly. Match their energy but keep it professional.\n\n17. Subtle Upselling Based on Interest  \n- Give the basic price first, then suggest combos or add-ons if they seem open to it: “<PRICE> po ang medium. May family combo din po for <PRICE> kung gusto nyo more savings.”\n\n18. Handling Reseller or Distributor Inquiries  \n- If any user is interested in partnering or franchising call the tool getFranchise\n\n19. Current Date Inquiry  \n- You may provide the current date as needed.\n\n20. Knowledge Base Fallback (Missing Info Rule)\n- If the user asks for information that is not explicitly on you knowledge based then response 'N/A' only\n\n21. Ordering Inquiries\n- If the customer inquires or asks for how to order or if they’d like to place an order, call the tool BookingTool to collect the data needed for placing the order\n\n23. Social Media Inquiries\n- If the user asks about your social media (TikTok, Facebook, Instagram, Youtube, or PizzaDiDi website), discreetly trigger SocialMedia function and not say a word.\n\n24. Product Pricing and Add-ons\n- Certain products offer discounted add-on drinks, while others have regular-priced add-ons. For example, ChickenDi Solo may have a lower lemonade price when bought together, but pizza orders might not include any drink discount. Be mindful of these variations.\n\n25. Menu and Pricelist Inquiries\n- If the user wants to see the menu and pricelist of the products, trigger getMenu function and not say a word.\n- if the user wants to see all the prices of specific products, then trigger getMenu function and not say a word.\n- if the user want to see more details about the product, then trigger getMenu function and not say a word.\n- if the user want to see the pricelist, then trigger getMenu function and not say a word.\n- if the user inquire price range of the menu, then trigger getMenu function and not say a word.\n\n26. Breakdown Pricing Only\n- Don’t give the total cost of the user’s order. Provide only per-product breakdown prices when asked.\n- If the user asks for a total cost, discreetly trigger Totalinquire function and not say a word.\n\n27. Interpreting “sf”  \n- treat \"sf\" as meaning of shipping fee, also means delivery fee\n- if the user is asking for \"free sf?\" then it means they are asking if the shipping fee/ delivery fee is free.\n\n29. Order Cancellation\n- If the user say they want to cancel their order, trigger CNLOrder function and not say a word.\n- important: if the user just want to re-order then don't trigger CNLOrder function\n\n30. Change Order Details\n- if the customer want to change order details, kindly provide them with the contact information for the relevant branch so they can reach out directly.\n\n31. Additional info\n- \"DiTwo promo\" means you buy 1 take one promo\n\n32. Open time response\n- If the user ask if you are open now then response your operating hours only for each branch and Do not answer with “yes” or “no”; let the schedule speak for itself.\nsample response:\n\"Here are the operating hours for our two PizzaDiDi branches in Bacoor, Cavite:\n\nBacoor Boulevard Branch\n🕒 Open daily: 12:00 PM - 12:00 AM\n\nBacoor Mabolo Branch\n🕒 Open daily: 12:00 PM - 12:00 AM\n\nWe look forward to serving you at either of our convenient locations!\"\n\n33. Provide Branch Contact Numbers\n- When advising the customer to call a branch, include that branch’s name and its contact number in your response.\n- if the user ask where they can call then provide the contact number per branch\n\n34. Lalamove Pickup Coordination\n- If the user wants to arrange their own Lalamove pickup, kindly advise them to contact our branch directly so we can assist them clearly; then list each branch name with its contact number.\n\n35. Time Suggestion Inquiries\n- If the user asks for suggestion of what time it will be deliver for their order, respond “N/A” only\n- if the user ask for what time will to process their order, respond \"N/A\" only\n\n36. Inviting to event\n- if the user invite you to an event , then response 'N/A' only\n\n37. Website Visit Mentions\n- If you tell the customer they can visit our website, include the link pizzadidi.beepit.com in your response. 😊\n\n38. Price Questions Without Context\n- If the user asks for price without mentioning what product/item/service (e.g. \"how much?\", \"magkano?\", \"hm?\"), do not give any price, Politely ask them to clarify which product, service, or option they want the price for.\n\n39. Franchising Inquiry\n- If the user want to franchise then call the tool FranchisingTool to give the data needed to collected and response \"TOOL\" only\n- Always check the updated data need to be collected in FranchisingTool and response \"TOOL\" only\n- If the user give details about their Franchise Form then call the tool FranchisingTool and response \"TOOL\" only\n- If the user give details about their Event Booking Form then call the tool FranchisingTool and response \"TOOL\" only\n- If the user fill out the form for Franchising then call the tool FranchisingTool and response \"TOOL\" only\n\n\nFAQs:\n-You must answer STRICTLY by getting the exact script from your Knowledge Base/External Brain. Do not use your own knowledge, make up answers, or modify, add, or delete any information from the Knowledge Base/External Brain.\nThis is your Knowledge Base/External Brain:\n{{ $('Postgres Read Cache').item.json.faq_value }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -752,
        1968
      ],
      "id": "2f43bd64-0e77-46f9-8d3d-566a43f1808f",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -992,
        2416
      ],
      "id": "7e3b4148-71e4-43a2-8de7-4fac38af3942",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}",
        "tableName": "pizzadidi_history",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -800,
        2272
      ],
      "id": "2c92f965-d55b-44aa-82ae-08aa73f4b31a",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/me/messages",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={'id':'{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}'}"
            },
            {
              "name": "messaging_type",
              "value": "RESPONSE"
            },
            {
              "name": "message",
              "value": "={{ { text: $('AI Agent').item.json.output } }}"
            },
            {
              "name": "access_token",
              "value": "EABBAttGj2s8BQLZCnra1jpPL7BmZCUNw1RkDIZBQy3jO5CkrDVyX4QSHxSZCqO0uwRhZAUfZBHzZA3ZCEUD0ro2tfRaKXVmp4ryYnxqGmPf6wtz2B7ebpmL0E398MQa4po5UnT64PcmxdvvKpkjuCgg7MhnZAb6ZBZBqBFaGvVACumYCN3ZBKZCqnM6qZCIFy8Ebsyqn8OaoWCZBwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        2032
      ],
      "id": "862aba5f-44b2-448a-86b9-33791770bbcc",
      "name": "Output",
      "retryOnFail": true,
      "executeOnce": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "first_name,last_name,gender"
            },
            {
              "name": "access_token",
              "value": "EABBAttGj2s8BQLZCnra1jpPL7BmZCUNw1RkDIZBQy3jO5CkrDVyX4QSHxSZCqO0uwRhZAUfZBHzZA3ZCEUD0ro2tfRaKXVmp4ryYnxqGmPf6wtz2B7ebpmL0E398MQa4po5UnT64PcmxdvvKpkjuCgg7MhnZAb6ZBZBqBFaGvVACumYCN3ZBKZCqnM6qZCIFy8Ebsyqn8OaoWCZBwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        2272
      ],
      "id": "69762fb3-b672-488a-94ca-f87e9eb70629",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FcYFKO4AW6q2pBBQl2MHdhuA1rxGlfsy0vRgJcK-EzM",
          "mode": "list",
          "cachedResultName": "N8N Test Bones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FcYFKO4AW6q2pBBQl2MHdhuA1rxGlfsy0vRgJcK-EzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 451946686,
          "mode": "list",
          "cachedResultName": "Undefined Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FcYFKO4AW6q2pBBQl2MHdhuA1rxGlfsy0vRgJcK-EzM/edit#gid=451946686"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Inquiry": "={{ $('Webhookzzzzzzz').item.json.body.entry[0].messaging[0].message.text }}",
            "Name": "={{ $json.first_name + ' ' + $json.last_name }}",
            "LOG Date & Time": "={{ new Date().toLocaleString('en-PH', { timeZone: 'Asia/Manila' }) }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "LOG Date & Time",
              "displayName": "LOG Date & Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Inquiry",
              "displayName": "Inquiry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        2288
      ],
      "id": "207a4643-4b3a-4471-8ef9-ef4a5d5e82e7",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhookzzzzzzz').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={'id':'9498033406908421'}"
            },
            {
              "name": "messaging_type",
              "value": "RESPONSE"
            },
            {
              "name": "message",
              "value": "={\"text\": \"{{ $json.first_name }} {{ $json.last_name }} Undefined Inquiry(This is for admin message only)\"}\n"
            },
            {
              "name": "access_token",
              "value": "EABBAttGj2s8BQLZCnra1jpPL7BmZCUNw1RkDIZBQy3jO5CkrDVyX4QSHxSZCqO0uwRhZAUfZBHzZA3ZCEUD0ro2tfRaKXVmp4ryYnxqGmPf6wtz2B7ebpmL0E398MQa4po5UnT64PcmxdvvKpkjuCgg7MhnZAb6ZBZBqBFaGvVACumYCN3ZBKZCqnM6qZCIFy8Ebsyqn8OaoWCZBwZDZD"
            },
            {
              "name": "fields",
              "value": "first_name,last_name,gender"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        2400
      ],
      "id": "279a2707-ff19-4ada-bc77-fe4fbf9f525a",
      "name": "Notify Admin2"
    },
    {
      "parameters": {
        "description": "Always Call this tool to give details about Product Price and Availability",
        "workflowId": {
          "__rl": true,
          "value": "qlsgjeof0EPj4AbYB2Qlz",
          "mode": "list",
          "cachedResultUrl": "/workflow/qlsgjeof0EPj4AbYB2Qlz",
          "cachedResultName": "MENU - PizzaDiDi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body.entry[0].messaging }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "userID",
              "displayName": "userID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "receiptID",
              "displayName": "receiptID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -688,
        2320
      ],
      "id": "2b5a10cd-fa56-4f5d-830c-b68aebd0b2e0",
      "name": "getMenu"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/me/messages",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={'id':'{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}'}"
            },
            {
              "name": "messaging_type",
              "value": "RESPONSE"
            },
            {
              "name": "message",
              "value": "={{ { text: `I've already informed our sales team regarding your inquiry. Kindly wait na lang po Ma'am, thank you for your patience!` } }}"
            },
            {
              "name": "access_token",
              "value": "EABBAttGj2s8BQLZCnra1jpPL7BmZCUNw1RkDIZBQy3jO5CkrDVyX4QSHxSZCqO0uwRhZAUfZBHzZA3ZCEUD0ro2tfRaKXVmp4ryYnxqGmPf6wtz2B7ebpmL0E398MQa4po5UnT64PcmxdvvKpkjuCgg7MhnZAb6ZBZBqBFaGvVACumYCN3ZBKZCqnM6qZCIFy8Ebsyqn8OaoWCZBwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        2272
      ],
      "id": "b2b192be-f1a9-45d3-9bad-832b77ea933d",
      "name": "Notify Admin1"
    },
    {
      "parameters": {
        "jsCode": "// After Data Table (Run Once for All Items)\n// INPUT: many items from Data Table (QUESTIONS + ANSWER)\n// OUTPUT: ONE item with FAQs string (dynamic length)\n\nconst pickFirst = (obj, keys) => {\n  for (const k of keys) {\n    const v = obj?.[k];\n    if (v !== undefined && v !== null && String(v).trim() !== \"\") {\n      return String(v).trim();\n    }\n  }\n  return \"\";\n};\n\nconst rows = items\n  .map(i => i.json)\n  .map(r => ({\n    q: pickFirst(r, [\"QUESTIONS\", \"QUESTION\", \"Question\", \"question\"]),\n    a: pickFirst(r, [\"ANSWER\", \"ANSWERS\", \"Answer\", \"answer\"]),\n  }))\n  // remove empty rows + (optional) prevent cache row loops if you ever store __CACHE__\n  .filter(r => r.q && r.a && r.q !== \"__CACHE__\");\n\nconst FAQs = rows\n  .map(({ q, a }) => {\n    // escape double quotes so your format stays consistent\n    const qEsc = q.replace(/\"/g, '\\\\\"');\n    const aEsc = a.replace(/\"/g, '\\\\\"');\n    return `Question: \"${qEsc}\"\\nAnswer: \"${aEsc}\"`;\n  })\n  .join(\"\\n\\n\");\n\nreturn [\n  {\n    json: {\n      key: \"PizzaDiDi_FAQs\", // useful for saving/chunking later\n      FAQs,\n      rows: rows.length,\n      chars: FAQs.length, // dynamic count\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        448
      ],
      "id": "438c1a70-c569-4b05-b860-03fc4aaf11f5",
      "name": "After Data Table"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kv_store_chunks",
          "mode": "list",
          "cachedResultName": "kv_store_chunks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key": "={{$json.key}}",
            "value": "={{$json.value}}",
            "part": "={{ Number($json.part) }}",
            "updated_at": "={{new Date().toISOString()}}"
          },
          "matchingColumns": [
            "key",
            "part"
          ],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "part",
              "displayName": "part",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "value",
              "displayName": "value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -800,
        448
      ],
      "id": "f3699a01-ba90-4d85-a034-b8c2a8d2a3e7",
      "name": "Insert or update rows in a table"
    },
    {
      "parameters": {
        "jsCode": "// Split into Chunks (Run Once for All Items)\n// Use the *incoming* item directly (no need to reference $node)\n\nconst text = String($json.FAQs ?? \"\");\nconst chunkSize = 1500; // change if needed\nconst key = String($json.key ?? \"PizzaDiDi_FAQs\");\n\nif (!Number.isFinite(chunkSize) || chunkSize <= 0) {\n  throw new Error(\"chunkSize must be a positive number\");\n}\n\nconst out = [];\nlet part = 1;\n\nfor (let i = 0; i < text.length; i += chunkSize) {\n  out.push({\n    json: {\n      key,\n      part,\n      value: text.slice(i, i + chunkSize),\n    },\n  });\n  part++;\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        448
      ],
      "id": "bd261fc7-2410-41ac-8ec9-c5b6fdaf4114",
      "name": "Split into Chunks"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "AXKmTRr15B6AwVq9",
          "mode": "list",
          "cachedResultName": "PizzaDiDI - FAQs",
          "cachedResultUrl": "/projects/lOU8vYbKD9xnKrKV/datatables/AXKmTRr15B6AwVq9"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "QUESTIONS",
              "keyValue": "={{ $json.QUESTIONS }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "QUESTIONS": "={{ $json.QUESTIONS }}",
            "ANSWER": "={{ $json.ANSWER }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "QUESTIONS",
              "displayName": "QUESTIONS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ANSWER",
              "displayName": "ANSWER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        48
      ],
      "id": "9a323dd7-4088-4912-b4aa-6713f59d723a",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "281b5684-fc8b-4a43-92b2-4850bc10ffdd",
              "leftValue": "={{$json.action}}",
              "rightValue": "upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        112
      ],
      "id": "a8408bea-f4db-4d7a-81d1-3b8a71640637",
      "name": "If2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "AXKmTRr15B6AwVq9",
          "mode": "list",
          "cachedResultName": "PizzaDiDI - FAQs",
          "cachedResultUrl": "/projects/lOU8vYbKD9xnKrKV/datatables/AXKmTRr15B6AwVq9"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{$json.id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -176,
        208
      ],
      "id": "c3fece9a-9352-475b-a89a-9d83191598f6",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (Run Once for All Items)\n\n// 1) Pull ALL rows from Google Sheets node\nconst sheetItems = $items(\"Google Sheets\").map(i => i.json);\n\n// 2) Pull ALL rows from Data Table list node\nconst tableItems = $items(\"Data Table - List\").map(i => i.json);\n\n// Helpers\nconst norm = (s) => String(s ?? \"\")\n  .trim()\n  .replace(/\\s+/g, \" \")\n  .toLowerCase();\n\n// --- Build a map of Sheet rows keyed by normalized question ---\nconst sheetMap = new Map();\n\n// If there are duplicates in sheet, last one wins (you can change this behavior)\nfor (const r of sheetItems) {\n  const qRaw = r.QUESTION ?? r.Questions ?? r.QUESTIONS ?? \"\";\n  const aRaw = r.ANSWER ?? r.Answers ?? r.ANSWERs ?? r.ANSWER ?? \"\";\n\n  const q = String(qRaw).trim();\n  const a = String(aRaw).trim();\n  if (!q || !a) continue;\n\n  sheetMap.set(norm(q), { QUESTIONS: q, ANSWER: a });\n}\n\n// --- Build a map of Data Table rows keyed by normalized question ---\nconst tableMap = new Map();\nfor (const r of tableItems) {\n  const q = r.QUESTIONS ?? \"\";\n  const key = norm(q);\n  if (!key) continue;\n  tableMap.set(key, { id: r.id, QUESTIONS: String(q).trim(), ANSWER: String(r.ANSWER ?? \"\").trim() });\n}\n\n// Actions array: upserts + deletes\nconst actions = [];\n\n// A) Upsert: everything in sheetMap should exist in Data Table\nfor (const [key, sRow] of sheetMap.entries()) {\n  // include id if it exists (helps some setups), but Upsert should use QUESTIONS as unique key\n  const existing = tableMap.get(key);\n\n  actions.push({\n    json: {\n      action: \"upsert\",\n      // keep original casing from sheet\n      QUESTIONS: sRow.QUESTIONS,\n      ANSWER: sRow.ANSWER,\n      // optional: if you want to carry id\n      existing_id: existing?.id ?? null\n    }\n  });\n}\n\n// B) Delete: everything in tableMap NOT in sheetMap should be deleted\nfor (const [key, tRow] of tableMap.entries()) {\n  if (!sheetMap.has(key)) {\n    actions.push({\n      json: {\n        action: \"delete\",\n        id: tRow.id,\n        QUESTIONS: tRow.QUESTIONS\n      }\n    });\n  }\n}\n\nreturn actions;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        112
      ],
      "id": "b96f7ba4-7283-4d9e-bf3c-813b2943bae5",
      "name": "Build Sync Actions"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "t6kbL8cA9bewEVEG",
          "mode": "list",
          "cachedResultName": "PizzaDiDi - FAQs",
          "cachedResultUrl": "/projects/RMJbV3yUv517JcM0/datatables/t6kbL8cA9bewEVEG"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -816,
        112
      ],
      "id": "1bae3283-453b-414d-9729-209dfc1afdf8",
      "name": "Data Table - List2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk",
          "mode": "list",
          "cachedResultName": "PizzaDiDi x SOFI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 672441042,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit#gid=672441042"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        96
      ],
      "id": "ab6895da-0c05-4a77-9918-1b8de24466b3",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "444663ab-2ccb-4da3-b3b4-adde0901b604",
                    "leftValue": "={{ $json.body_entry[0].json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "=#CLEAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "#CLEAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body_entry[0].json.body.entry[0].messaging[0].message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "4a5e4860-f51f-47db-809b-46054d7f6f38"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "487e0dda-7881-4707-83d6-521372ae98bc",
                    "leftValue": "={{ $json.body_entry[0].json.body.entry[0].messaging[0].message.attachments }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Attachment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2304,
        1120
      ],
      "id": "1c50120a-0b7b-4413-b506-21e978fe4f69",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -560,
        2912
      ],
      "id": "cd1be321-6a89-4d4a-950e-b8b417860e32",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "tableName": "bones_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -464,
        2768
      ],
      "id": "c1cb9c9a-8678-41e4-b221-5fe0e8b5f00e",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk",
          "mode": "list",
          "cachedResultName": "PizzaDiDi x SOFI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494838378,
          "mode": "list",
          "cachedResultName": "Franchise",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit#gid=494838378"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -352,
        2768
      ],
      "id": "6b7f124f-3d63-465c-9752-c00262f8b65c",
      "name": "Get row(s) in sheet in Google Sheets"
    },
    {
      "parameters": {
        "toolDescription": "call this tool for Franchising ",
        "text": "PizzaDiDi Booking Inquiries Prompt\n\nCORE IDENTITY AND PURPOSE\nYou are Anna, the friendly pizza expert of PizzaDiDi. For this prompt, you’ll focus only on franchising and event booking inquiries. You’ll gather all necessary details by reviewing previous information in Chat Memory, If the customer mentions interest in franchising, automatically direct them to the Franchise Inquiry Form; if they’re looking to hire you for an event, guide them to the Event Booking Form. Throughout every interaction, ensure a smooth, efficient, and pleasant experience for the customer.\n\nGUIDELINES:\n1. Language Adaptation for Customer Responses :\n- If the user speaks in English, respond in English, keeping it casual and avoiding overly formal or complex words.\n- User more on English word but if the user speaks in Tagalog or Taglish, reply using a fun, modern Taglish style (80%english, 20%tagalog). Keep it light and conversational, avoiding overly formal or deep Tagalog words.\n- Use “po” for respect, but maintain a casual, friendly tone.  \n- Remove markup language and all **\n\n2. Business Inquiries\nFocus on either “Franchise” or “Event Booking.”\n- If the user clearly wants a franchise (e.g., “Paano mag-franchise?”, \"Franchise\"), proceed with the Franchise Inquiry Form below.\n- If the user wants to book an event (e.g., “Birthday party,” “Food truck booking,” or “Corporate event”), use the Event Booking Form below.\n\nFranchise Inquiry Form:\n- Full Name:\n- Contact Number:\n- Email Address:\n- Franchise Format (In-Line or Drive-Thru):\n- Location for Franchise (in case available):\n\nEvent Booking Form:\n- Full Name:\n- Contact Number:\n- Email Address:\n- Date of Event:\n- Type of Event (e.g., Party, Food Truck Booking, etc.):\n- Event Location:\n- Number of Pax:\n\n#important: if the user provided the inquiry intent (Franchise or Event Booking) in Chat Memory, then proceed to the designated Form in '2. Business Inquiries'.\n#IMPORTANT: make sure to gather all the details needed in specific form then trigger the needed tool\n\n3. General Interaction\n- Interpret casual or shorthand words naturally (e.g., “hm” = “how much”).\n- Provide information confidently and avoid excessive detail.\n- Do not end with phrases like “let me know if you need more details.”\n\n4. Silent Execution\n- Once the user has provided all the required information for the Franchise Inquiry Form, save the data into the FranchiseData tool.\n- If the user has completed and submitted all the details for the Event Booking Form, save the data into the EventData tool.\n\n5. Error Handling\n- If critical details are unclear or missing, request them politely: “Can you share this details po [missing detail]. so we can finalize everything. Salamat po.”\n\n\n\n\nFAQs:\nQuestion: \"How much to franchise?\"\nAnswer: \"A PizzaDiDi Franchise starts at ₱3.5M for in-line stores and P15M for drive-thru — a rare chance to join early. We’re now accepting location reservations for partners ready to grow with us nationwide.\"\n\nIf you're interested in franchising, kindly fill out this form:\n- Full Name:\n- Contact Number:\n- Email Address:\n- Franchise Format (In-Line or Drive-Thru):\n- Location for Franchise (in case available):\"\n\n\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -448,
        2368
      ],
      "id": "ec3519a1-e048-4055-a75a-73fb9bd3181e",
      "name": "FranchisingTooll1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk",
          "mode": "list",
          "cachedResultName": "PizzaDiDi x SOFI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494838378,
          "mode": "list",
          "cachedResultName": "Franchise",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit#gid=494838378"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -80,
        2544
      ],
      "id": "53ba91ca-94d9-42c5-8d9f-f6107bd735d7",
      "name": "getRows"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "To input the Franchise Details in matching columns",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk",
          "mode": "list",
          "cachedResultName": "PizzaDiDi x SOFI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 494838378,
          "mode": "list",
          "cachedResultName": "Franchise",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1e0mtrj-gl4i8R4fjgLfvEZKobxTjLsC4hHyeqh9Vzpk/edit#gid=494838378"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Date & Time Inquired"
          ],
          "schema": [
            {
              "id": "Date & Time Inquired",
              "displayName": "Date & Time Inquired",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package ",
              "displayName": "Package ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location ",
              "displayName": "Location ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        64,
        2544
      ],
      "id": "1fb1005a-168c-4813-a7ea-e3f838906709",
      "name": "saveData"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhookzzzzzzz').item.json.body.entry[0].messaging[0].sender.id }}",
        "tableName": "bones_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -192,
        2544
      ],
      "id": "171708a5-1dc2-43f4-b6de-99629bda24df",
      "name": "Postgres Chat Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -320,
        2512
      ],
      "id": "8c41f038-3244-44d4-bf9e-50ec1d2d74f7",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "toolDescription": "This tool handles Collecting Data for Franchising",
        "text": "You are a Checkpoint Agent responsible for validating and collecting the required order details from the user in a friendly, polite, and conversational tone. Your goal is to ensure that all necessary information is complete and accurate before the order can be processed.\n\nGuidelines:\n\n1. Analyze User Input\n- Review the user’s message carefully.\n- Identify which required details are already provided and which are missing or incomplete.\n\n2. Retrieve Required Data\n- Always call the tool `getRows` first to determine the list of data fields that must be collected.\n- Treat the returned data as the single source of truth for the required information.\n\n3. Request Missing Information\n- If any required details are missing or unclear, politely ask the user to provide them.\n- Clearly list down the missing details in an easy-to-follow format.\n- Maintain a respectful, friendly, and conversational tone.\n\n4. Re-validate on Every User Response\n- After each user reply, re-analyze the input.\n- Check again for completeness against the required data from `getRows`.\n- If some details are still missing, politely ask only for the remaining items.\n\n5. Save and Confirm Completion\n- Once all required details have been successfully collected, call the tool `saveData` to save the users information\n- Inform the user that their information has been validated and successfully passed.\n\nTone & Behavior Rules:\n- Be polite, friendly, and professional at all times.\n- Do not assume missing information; always ask.\n- Do not request unnecessary details.\n- Always follow this flow:\n  getRows → validate → ask → re-validate → saveData\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -176,
        2320
      ],
      "id": "84be84e7-c889-4bf5-8ef0-1b9baa1ac8f1",
      "name": "FranchisingToolv"
    },
    {
      "parameters": {
        "description": "Call this tool to handle what you should answer for Franchising Inquiry or Event Booking Inquiry",
        "workflowId": {
          "__rl": true,
          "value": "kQmjPADV5CqTzfPWX4wBG",
          "mode": "list",
          "cachedResultUrl": "/workflow/kQmjPADV5CqTzfPWX4wBG",
          "cachedResultName": "Franchise - PizzaDiDi"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body }}",
            "Tags": "={{ $('Postgres Read Cache').item.json.tags }}"
          },
          "matchingColumns": [
            "body_entry"
          ],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -544,
        2304
      ],
      "id": "768bdf82-ca13-4857-890c-5c9f3461b4a1",
      "name": "FranchisingTool",
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "body_entry",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2896,
        1136
      ],
      "id": "145403f5-1ad5-47d8-9bb5-a339613b7f86",
      "name": "Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9be7eed1-be02-4dd1-b909-4134638deb8a",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].postback }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Payload Message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f4353d56-b9ee-48fa-b857-4747e0fa0009",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].read }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Left on read"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "d25db1ed-a16d-4b29-9b05-2085adc7948a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Normal Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3424,
        816
      ],
      "id": "8e13c522-f031-4309-9da3-df61f43dccd2",
      "name": "Message Type Checker"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].messaging[0].postback.payload }}",
                    "rightValue": "get_started",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7f636bd0-ca7c-4588-af6f-ce736dee5e51"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5f1bdc7-fe3f-45a1-9aa0-ca63a55bc8f2",
                    "leftValue": "={{ $json.body.entry[0].messaging[0].postback.payload}}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unknown Payload"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3120,
        928
      ],
      "id": "02c44c51-0f77-47b3-a342-f1f38cc21189",
      "name": "Payload Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8eae7581-21b7-4849-bb83-c1e75c82c3bd",
              "leftValue": "={{ $('Webhook').item.json.body.entry[0].messaging[0].message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2544,
        896
      ],
      "id": "f51b10c8-d114-476a-9ffd-bf3653866973",
      "name": "Filter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "H5tRL7LOJkRCyfz2sLfOY",
          "mode": "list",
          "cachedResultUrl": "/workflow/H5tRL7LOJkRCyfz2sLfOY",
          "cachedResultName": "Welcome Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').all()}}",
            "Postgres Data": "={{ $('Postgres Read Cache').all()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "Postgres Data",
              "displayName": "Postgres Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -944,
        1376
      ],
      "id": "4d6bc8f8-d93e-4347-88a5-1f62470c83fd",
      "name": "Call 'Welcome Message'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  q.faq_value,\n  dc.first_name,\n  dc.last_name,\n  dc.gender,\n  dc.user_honorifics,\n  dc.tags\nFROM \n  -- This subquery becomes the main table, ensuring at least one row always exists\n  (SELECT string_agg(value, '' ORDER BY part) AS faq_value \n   FROM kv_store_chunks \n   WHERE key = 'PizzaDiDi_FAQs') q\nLEFT JOIN \n  database_contacts dc \nON \n  dc.sender_id = '{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}' \n  AND \n  dc.recipient_id = '{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].recipient.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        1120
      ],
      "id": "0ffcd1ee-b7bb-45b6-bfc3-fb704aa1c372",
      "name": "Postgres Read Cache",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Postgres Read Cache').item.json.tags }}",
                    "rightValue": "Franchised",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "da899c65-74a5-47ee-a8c8-df247ed279f9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Franchised TAGS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "57832344-8d71-47b2-9d39-79b1e9de0dac",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "N/A",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N/A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8bd9793e-c1c7-4e76-8e09-8c4bfb782d85",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Main Reply"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        1984
      ],
      "id": "abb33243-09e6-40be-a84a-bd7a8b99d729",
      "name": "Filter1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tags }}",
                    "rightValue": "welcome_checked",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a84ca6bb-f6c0-4688-8aa7-b46fe05b093e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Old Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "97d8ef70-41c8-4d97-95d8-ad8594766ef0",
                    "leftValue": "={{ $json.tags }}",
                    "rightValue": "welcome_checked",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -944,
        1120
      ],
      "id": "19228737-cd72-489d-b61c-0cce888fa458",
      "name": "Welcome Message Checker"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pizzadidi_history",
          "mode": "list",
          "cachedResultName": "pizzadidi_history"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1680,
        800
      ],
      "id": "cfa3998f-1023-4024-97ea-a205b79a3922",
      "name": "CLEAR FAQs"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "database_contacts",
          "mode": "list",
          "cachedResultName": "database_contacts"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "sender_id",
              "value": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "column": "recipient_id",
              "value": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].recipient.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1216,
        800
      ],
      "id": "896cec16-c7dd-43cf-8755-52ede60754c9",
      "name": "CLEAR FAQs1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient",
              "value": "={'id':'{{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}'}"
            },
            {
              "name": "messaging_type",
              "value": "RESPONSE"
            },
            {
              "name": "message",
              "value": "={{ { text: `Chat History Deleted. \n\nWait 5 seconds before messaging again...` } }}"
            },
            {
              "name": "access_token",
              "value": "EABBAttGj2s8BQLZCnra1jpPL7BmZCUNw1RkDIZBQy3jO5CkrDVyX4QSHxSZCqO0uwRhZAUfZBHzZA3ZCEUD0ro2tfRaKXVmp4ryYnxqGmPf6wtz2B7ebpmL0E398MQa4po5UnT64PcmxdvvKpkjuCgg7MhnZAb6ZBZBqBFaGvVACumYCN3ZBKZCqnM6qZCIFy8Ebsyqn8OaoWCZBwZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        800
      ],
      "id": "71d00834-6c94-4604-b5a6-aeca1f048971",
      "name": "CLEAR OUTPUT"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].sender.id }}",
        "collectionName": "pizzadidi_history",
        "databaseName": "SOFI",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -832,
        2448
      ],
      "id": "6be4cda2-6111-4c7e-ab08-9414e9fedb20",
      "name": "MongoDB Chat Memory"
    },
    {
      "parameters": {
        "content": "## Workflow ID",
        "height": 432,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2736,
        1440
      ],
      "typeVersion": 1,
      "id": "580a0573-c39f-47bf-b765-53464bd53a66",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "487e0dda-7881-4707-83d6-521372ae98bc",
                    "leftValue": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].message.attachments[0].type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2032,
        1312
      ],
      "id": "9cad2f84-7758-401b-a75b-8e2c904994ac",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body_entry[0].json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "=\n**Role:** You are a Message Interpreter and Query Decomposer specialized in Filipino, English, Taglish, and regional dialects (including \"jejemon\" and SMS shorthand). Your goal is to standardize informal messages and break them down into distinct intents or queries.\n\n**Processing Workflow:**\n1. **Standardize:** Clean up the input by fixing misspellings, expanding shorthand, and standardizing slang while keeping the original language mix (Taglish/Filipino/English).\n2. **Format:** Ensure the word GCash is always written as \"𝐆𝐂𝐀𝐒𝐇\". Ensure there are NO exclamation marks (!) in the output.\n3. **Decompose:** Split the standardized interpretation into a numbered list of individual queries or points.\n\n**Standardization Dictionary:**\n- **Price/Inquiry:** \"hm\" -> \"How much\"; \"hm?\" -> \"How much?\"\n- **Agreement:** \"cge/sge/cge2/gesi\" -> \"Sige/Sure\"; \"omsim/oms\" -> \"Omsim (I agree)\"; \"G\" -> \"Go\"\n- **Location/Contact:** \"loc\" -> \"Location\"; \"tel/cp\" -> \"Telephone/Cellphone number\"\n- **Time/Status:** \"tom/tmr/bks\" -> \"Bukas (Tomorrow)\"; \"gang\" -> \"Hanggang (Until)\"; \"gd\" -> \"Good day\"\n- **Possibility/Want:** \"pde/pwidi/pwdi\" -> \"Pwede (Can)\"; \"gs2\" -> \"Gusto (Want)\"\n- **Pronouns/Articles:** \"q/qoh/ku\" -> \"ko/ako\"; \"kau\" -> \"kayo\"; \"yn\" -> \"iyan/yan\"; \"cya/sia\" -> \"siya\"; \"b/ba/bah\" -> \"ba\"\n- **Technical/Formal:** \"hmo\" -> \"HMO\"; \"pwd\" -> \"PWD (Person with Disability)\"; \"cc\" -> \"Credit Card\"; \"DTI\" -> \"DTI\"\n- **Playful:** \"charot/jk/eme\" -> \"(Joke/Just kidding)\"\n\n**Rules & Constraints:**\n- **NO EXCLAMATION MARKS:** Use periods or commas only.\n- **Maintain Honorifics:** Keep \"po\" and \"opo\" to remain respectful.\n- **Contextual Correction:** Fix phonetic errors (e.g., \"Kezon City\" to \"Quezon City\", \"Ygnachia\" to \"Ignacia\").\n- **Language Preservation:** Do not force-translate Filipino to English. If the user asks in Taglish, the output should be standardized Taglish.\n\n**Output Format:**\nDisplay the standardized interpretation first, followed by a numbered list of chunks.\n\n---\n**Example Input:** \"hi how are u, may branch ba u sa pateros and marikina hm?\"\n**Interpretation and Query Chunking:**\n1. Hi how are you\n2. May branch ba kayo sa Pateros and Marikina\n3. How much?\n---\nDemonstration of how the Agent will handle your inputs:\n\nUser Input: \"gd po pde po b discount sa pwd? Kezon city loc q magkano kng 𝐆𝐂𝐀𝐒𝐇 gmitin? tnx\"\n\nAgent Interpretation and Query Chunking:\n\n1. Good day po.\n\n2. Pwede po ba ang discount sa PWD (Person with Disability)?\n\n3. Quezon City ang location ko.\n\n4. Magkano kung 𝐆𝐂𝐀𝐒𝐇 ang gagamitin?\n\n5. Thanks.\n\nUser Input: \"hm po bks? gs2 q sana itry yan pde b cc? charot\"\n\nAgent Interpretation and Query Chunking:\n\n1. How much po bukas?\n\n2. Gusto ko sana itry iyan.\n\n3. Pwede ba ang credit card?\n\n4. Joke/Just kidding.\n\nUser Input: \"cge2 omsim G q dyan gang 5pm sge\"\n\nAgent Interpretation and Query Chunking:\n\n1. Sige, omsim (I agree).\n\n2. Go ako diyan hanggang 5pm.\n\n3. Sige."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -400,
        1120
      ],
      "id": "bc61fa7a-459e-4cf7-b6fb-dd25dc7a88e2",
      "name": "Message Interpreter",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -528,
        1328
      ],
      "id": "3fd67c4c-d4b8-4086-830c-328fb4be199b",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "description": "Call this tool once the user is successfully booked a meeting (franchising context) to notify the respective admins / team",
        "workflowId": {
          "__rl": true,
          "value": "bY_5tmguM9sa5xC3sOOVK",
          "mode": "list",
          "cachedResultUrl": "/workflow/bY_5tmguM9sa5xC3sOOVK",
          "cachedResultName": "BZB - Notify Success for Booking"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "{{ $('Webhook').item.json.body }}",
            "gsheets_savedData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('gsheets_savedData', `the saved inputs in google sheets`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gsheets_savedData",
              "displayName": "gsheets_savedData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -96,
        1632
      ],
      "id": "58042440-286d-4aa1-b896-9545da85a863",
      "name": "bookingSuccess"
    },
    {
      "parameters": {
        "description": "Call this tool to send the instructions to the Brand Agent",
        "workflowId": {
          "__rl": true,
          "value": "PGgGJBtO9lMb1yVz",
          "mode": "list",
          "cachedResultUrl": "/workflow/PGgGJBtO9lMb1yVz",
          "cachedResultName": "BigZ Burger - Send Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body.entry }}",
            "chunk_instruction": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('chunk_instruction', `chunk instructions to the brand agent`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chunk_instruction",
              "displayName": "chunk_instruction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        208,
        1632
      ],
      "id": "e079b305-efa5-44d9-8963-207e93a43c8c",
      "name": "sendMessage"
    },
    {
      "parameters": {
        "description": "Call this tool to send a pictures of the food in the whole menu or a specific burger and the raw text information of the menu",
        "workflowId": {
          "__rl": true,
          "value": "1icTnNgBDMeqlyAQCfLeu",
          "mode": "list",
          "cachedResultUrl": "/workflow/1icTnNgBDMeqlyAQCfLeu",
          "cachedResultName": "BZB - MENU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body }}"
          },
          "matchingColumns": [
            "body_entry"
          ],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -400,
        1632
      ],
      "id": "c76f8f7a-8da6-4d5d-854f-a844a4f45e41",
      "name": "displayMenu"
    },
    {
      "parameters": {
        "description": "Call this tool to display and or get the available franchise options, pricing and franchise inclusions , physical kiosk images. this also retrieves the text information of the franchise information",
        "workflowId": {
          "__rl": true,
          "value": "VFjsU6ZZ9aTXIqWJ03GO8",
          "mode": "list",
          "cachedResultUrl": "/workflow/VFjsU6ZZ9aTXIqWJ03GO8",
          "cachedResultName": "BZB - Franchise Options"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body }}"
          },
          "matchingColumns": [
            "body_entry"
          ],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -256,
        1632
      ],
      "id": "5546ac65-68e7-4985-8054-fc9682a07676",
      "name": "displayFranchiseInfo"
    },
    {
      "parameters": {
        "description": "Call this tool  to actually notify and alert the BigZ Burger admins when the user's message is complaints such as but not limited to: \n\nnegative feedback, angry remarks. complaints, legal actions, unsatisfactory service,  bad quality remarks",
        "workflowId": {
          "__rl": true,
          "value": "tQQzByLdLL3W7kyQjj0Xh",
          "mode": "list",
          "cachedResultUrl": "/workflow/tQQzByLdLL3W7kyQjj0Xh",
          "cachedResultName": "BZB - Notify Negative Feedback"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "body_entry": "={{ $('Webhook').item.json.body }}",
            "user_complaint": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_complaint', `Complaint or feedback from the user`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "body_entry",
              "displayName": "body_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_complaint",
              "displayName": "user_complaint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        48,
        1632
      ],
      "id": "b2225bd3-819b-4980-8bdf-5164ebbb6a9f",
      "name": "getNegativeFeedback"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message Interpreter').item.json.output }}\n(sent on {{ $now.format('MMM-dd-yyyy, t,') }})",
        "options": {
          "systemMessage": "=Role: Master Orchestrator (Granular Logic Engine)\n\nYou are the Logical Brain in a multi-agent chain. Your function is to execute logic in granular chunks. You do not generate text for the user. Instead, you call the sendMessage tool with a structured Hand-off Packet for every logical step.\n\nThe Granular Protocol:\n\nTopic Isolation: Treat multi-part requests (e.g., \"Menu\" + \"Franchise\") as separate execution blocks.\nSequential Tool Calls: For every chunk, call the necessary business tools, and at the end, call the sendMessage tool.\nMulti-Message Execution: If a user asks multiple queries, you will call sendMessage multiple times as well, once for each chunk.\nZero Stylistic Coaching: Do not provide instructions on tone, language (Taglish), or emojis. The agent receiving the sendMessage data already possesses those guidelines.\n\nPre-defined Current States:\nYou must categorize every sendMessage call with one of these states:\n\nGREETING: General openings.\nMENU_DISPLAY: Providing menu info/links.\nBRANCH_INFO: Specific branch details found.\nBRANCH_UPCOMING: \"Grilling Soon\" locations.\nBRANCH_NOT_FOUND: Locations where BigZ is currently unavailable.\nFRANCHISE_LOC_PENDING: Inquiry for the preferred franchise location.\nFRANCHISE_DATA_PENDING: Inquiry for Name, Contact, and Email.\nFRANCHISE_SAVED: Confirmation of data entry and admin alert.\nORDER_REDIRECT: Refusal of orders with redirection to branches.\nSOLICITATION_HR: Job application handling.\nSOLICITATION_MKTG: Business/Brand proposals.\nFEEDBACK_ESCALATED: Complaints requiring admin intervention.\nFALLBACK_NA: Irrelevant/Spam queries.\n\n\nTool List:\n\ndisplayMenu: Displays Menu infographic and retrieves the text information of the displayed menu.\ndisplayFranchiseInfo: Displays Franchising details and retrieves the text information of the displayed Franchise Details.\nbookingSuccess: Notifies admins of a successful franchise booking.\ngetBranches: Retrieves raw text branch information.\ngetNegativeFeedback: Escalates complaints to admins.\ngetDatabase: Queries FAQs and business info.\n\nBooking Agent Tool: Handles/Saves franchise lead data.\nYou may directly talk to this agent with no specific structure as this agent is dedicated in handling the user's booking information.\n\nsendMessage: Accepts the Hand-off Packet (State, Action, Raw Data, Intent Instruction).\n\nThe Hand-off Packet Structure (Passed to sendMessage):\nWhenever you call sendMessage, populate it with these parameters:\n\n\"chunk_instruction\": {\n    \"STATE\": \"[State]\",\n    \"SYSTEM_ACTION\": \"[Explicit description of tool called and media sent]\",\n    \"RAW_DATA\": \"[The data/links involved]\",\n    \"INTENT_INSTRUCTION\": \"[Specific narrative instruction for the Brand Agent]\"\n}\n\nLogic Modules:\n1. Branch & Location Logic\n\nAction: Call getBranches.\nLogic:\nIf match: State BRANCH_INFO + Provide Address/Hours.\nIf Grilling Soon: State BRANCH_UPCOMING + Instruct to build hype.\nIf No Match: State BRANCH_NOT_FOUND + Instruct to use the \"Grilling Soon\" fallback template.\n\n2. Franchise Workflow\n\nStep 1: If location is missing -> State FRANCHISE_LOC_PENDING + Instruct to ask for the target area.\nStep 2: If data (Name/Email/Contact) is missing -> State FRANCHISE_DATA_PENDING + Instruct to ask for details.\nStep 3: If all data is present -> Call Booking Agent Tool & bookingSuccess. State FRANCHISE_SAVED + Instruct to confirm the lead is saved.\n\n3. Orders & Refusals\n\nLogic: BigZ does not take orders via Facebook.\nState: ORDER_REDIRECT + Instruct to politely decline and refer to branches.\n\n4. Admin Fallbacks\n\nUrgent Feedback: Call negativeFeedback. State FEEDBACK_ESCALATED + Instruct to apologize and give a 24-hour response window.\nIrrelevant: State FALLBACK_NA + Instruct to return \"N/A\".\n\n\n\nExecution Scenario:\nUser Input: \"Hi! Patingin ng menu and may branch ba kayo sa Pasig?\"\n\nAction 1 (Menu Chunk):\nCall getMenu.\nCall sendMessage with:\n\n\"chunk_instruction\": {\n    \"STATE\": \"MENU_DISPLAY\",\n    \"SYSTEM_ACTION\": \"Displayed the menu picture to the user\",\n    \"RAW_DATA\": \"[The data retrieved from the tool\",\n    \"INTENT_INSTRUCTION\": \"Ask the user what they're currently craving\"\n}\n\nAction 2 (Branch Chunk):\n\nCall getBranches for \"Pasig\".\nCall sendMessage with:\n\n\"chunk_instruction\": {\n    \"STATE\": \"BRANCH_INFO\",\n    \"SYSTEM_ACTION\": \"Retrieved data from getBranches\",\n    \"RAW_DATA\": \"[The data retrieved]\",\n    \"INTENT_INSTRUCTION\": \"make a CTA to which the user should visit the branch\"\n}\n\nAction 3: End of Turn."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        160,
        1136
      ],
      "id": "80756f5d-5d13-4e48-b66b-9745da05feb4",
      "name": "Orchestrator1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1344
      ],
      "id": "dca3445c-435c-45fe-87be-b2764fd6056a",
      "name": "OpenAI Chat Model4"
    }
  ],
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Postgres Read Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Notify Admin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getMenu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "After Data Table": {
      "main": [
        [
          {
            "node": "Split into Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Postgres Read Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Chunks": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "After Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        [
          {
            "node": "After Data Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync Actions": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Table - List2": {
      "main": [
        [
          {
            "node": "Build Sync Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CLEAR FAQs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "FranchisingTooll1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "FranchisingTooll1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "FranchisingTooll1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getRows": {
      "ai_tool": [
        [
          {
            "node": "FranchisingToolv",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "saveData": {
      "ai_tool": [
        [
          {
            "node": "FranchisingToolv",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "FranchisingToolv",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FranchisingTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type Checker": {
      "main": [
        [
          {
            "node": "Payload Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Router": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Welcome Message'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Read Cache": {
      "main": [
        [
          {
            "node": "Welcome Message Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome Message Checker": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Welcome Message'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLEAR FAQs": {
      "main": [
        [
          {
            "node": "CLEAR FAQs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLEAR FAQs1": {
      "main": [
        [
          {
            "node": "CLEAR OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Interpreter": {
      "main": [
        [
          {
            "node": "Orchestrator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Message Interpreter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "bookingSuccess": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sendMessage": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "displayMenu": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "displayFranchiseInfo": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getNegativeFeedback": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "body_entry": [
          {
            "json": {
              "headers": {
                "host": "bonespc.tail06e6c8.ts.net",
                "user-agent": "facebookexternalua",
                "content-length": "308",
                "accept": "*/*",
                "accept-encoding": "deflate, gzip",
                "content-type": "application/json",
                "facebook-api-version": "v24.0",
                "tailscale-funnel-request": "?1",
                "x-forwarded-for": "2a03:2880:7ff:47::",
                "x-forwarded-host": "bonespc.tail06e6c8.ts.net",
                "x-forwarded-proto": "https",
                "x-hub-signature": "sha1=cee7cec6b0f7cff6f8a1266da082eacb6be61510",
                "x-hub-signature-256": "sha256=659ae8a06c64b55dbd181b777283b7681817cffbd8d972084d73849f664a288c"
              },
              "params": {},
              "query": {},
              "body": {
                "object": "page",
                "entry": [
                  {
                    "time": 1770097679282,
                    "id": "526550543877086",
                    "messaging": [
                      {
                        "sender": {
                          "id": "9498033406908421"
                        },
                        "recipient": {
                          "id": "526550543877086"
                        },
                        "timestamp": 1770097678438,
                        "message": {
                          "mid": "m_C6tHBTV1yq_1uVqaZz-mLQw-uo1RDIQ82nInoaJQqWpYPWeo4UE_9Tvll2ItZhHiHzNe8Agf6JwbT7sTLllH7w",
                          "text": "hi"
                        }
                      }
                    ]
                  }
                ]
              },
              "webhookUrl": "https://bonespc.tail06e6c8.ts.net/webhook/fb",
              "executionMode": "production"
            },
            "pairedItem": {
              "item": 0
            }
          }
        ]
      }
    ]
  },
  "meta": {
    "instanceId": "d7b6f32e9854b5287f4f33d9f981086216f8d42adf6051ec6d669067f30ef1e0"
  }
}
